<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dao.Temperature.TemperatureMapper">

    <select id="SearchTemperature"  parameterType="map" resultMap="temperaturemap" statementType="STATEMENT">
        select 时间,${map.jarid} from 温度数据 where 组号=${map.groupid} and (时间
        <choose>
            <when test="map.outtime.isEmpty()">
                >${map.intime}
            </when>
            <otherwise>
                between ${map.intime}
                and ${map.outtime}
            </otherwise>
        </choose>
        )order by 时间
    </select>
    <resultMap id="temperaturemap" type="POJO.WorkShop">
        <result property="time" column="时间"/>
        <result property="temperatrue" column="${jarid}"/>
    </resultMap>

</mapper>